html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
.slogan {
  color: #292929;

  font-family: Inter;
  font-size: 48px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%; /* 48px */
  letter-spacing: -0.03125em;
}
.burger-menu {
  width: 24px;
  height: 24px;
}
.div-img {
  display: flex;
  justify-content: space-between;
}
.header-section {
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;

  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sound-svg {
  width: 64px;
  height: 76px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 120px;
  background-color: #e8eff9;
}
.div-img-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.link-nav {
  color: #292929;

  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.menu-ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
}
